configuration {
    display-drun: "Applications:";
    modi: "window,run,ssh,drun";
    display-window: "Windows:";
    drun-display-format: "{name}";
    font: "JetBrainsMono NF 10";
    icon-theme: "Papirus-Dark";
}

@theme "base16-default-dark"
